:host {
  display: block;
}

.page-content {
  display: flex;
  min-height: 100vh;
  background-color: #f8f9fa;
  gap: 40px;
}

app-barra-lateral {
  width: 300px;
  flex-shrink: 0;
}

.dashboard-container {
  flex: 1;
  padding: clamp(15px, 3vw, 40px);
  min-width: 0;
  overflow-y: auto;
}

h1 {
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 50px;
  border-bottom: 1px solid #ced4da;

}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  min-height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.card p {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0;
}

.card h2 {
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  margin-top: 10px;
  font-weight: 700;
}

.volume { background-color: #002d6e; }
.medio { background-color: #28a745; }
.qtd { background-color: #17a2b8; }
.tipo { background-color: #ffc107; }

.charts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
  margin-bottom: 30px;
}

.chart-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  min-height: 350px;
  box-shadow: 0 4px 6px 2px rgba(162, 162, 162, 0.5);
  overflow: hidden;
}

.tables-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
}

.table-container {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 6px 2px rgba(162, 162, 162, 0.5);

}

.table-container h3 {
  font-size: clamp(1.1rem, 2vw, 1.5rem);
  color: #002d6e;
  margin-bottom: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 12px 8px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 0.95rem;
}

.text-end {
  text-align: right;
}

@media (max-width: 1024px) {
  app-barra-lateral {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .page-content {
    flex-direction: column;
  }

  app-barra-lateral {
    width: 100%;
  }
}