.filtro-container{
    position: absolute;
    padding: 20px;
    box-shadow: 0 4px 6px 2px rgba(162, 162, 162, 0.25);
    border-radius: 6px;
    margin-bottom: 20px;
    left: 0;
    z-index: 10;
    background-color: white;
}


.acoes{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

h3{
    margin-bottom: 10px;
}
label{
    margin-bottom: 5px;
}

input{
    padding: 8px 10px;
    margin-bottom: 10px;
    border-style: none;
    border-radius: 6px;
    background-color: rgb(233, 233, 233);
    color: rgb(48, 48, 48);
}

.campo-container{
    display: flex;
    gap: 10px;

}

.campo{
    display: flex;
    flex-direction: column;
}

button{
    padding: 8px 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.2s ease;

}

.acoes{
    gap: 6px
}

.btn-limpar{
    background-color: #e5e7eb;
}
.btn-limpar:hover{
    background-color: #cbcfd5;
}
.btn-filtrar{
    color: white;
    background-color: rgb(2, 3, 129);
}

.btn-filtrar:hover{
    background-color: rgb(9, 9, 221);
}
