.modal{
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top:0;
    width:100%;
    height:100%;
    overflow: auto;
    background-color: rgb(0,0,0,0.6);

}

.modal-content {
 transform: translateY(-50%);
  background-color: #fefefe;
  margin: 15% auto; 
  border: 1px solid #888;
  border-radius: 10px;
  width: 40%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 35px;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 15px;
}


.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-content{
    margin-bottom: 150;
    margin-top: 30px;
    padding: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

.botoes{
    display: flex;
    justify-content: flex-end;
    gap: 6px;
    margin-top: 20px;
}