@if(exibirModal){
    <app-edit-modal [emissao]="emissaoSelecionada" (fechar)="exibirModal = false" (salvar) = "salvarEdicao($event)"></app-edit-modal>
}

@if(ordenacao.coluna !== 'id'){
    <button (click)="resetarOrdenacao()">Resetar ordenação</button>
}
<table>
    <thead>
        <tr>
            <th (click)="ordernar('data')">Data @if (ordenacao.coluna === 'data') {{{ ordenacao.ordem === 'asc' ? '↑' : '↓' }}}</th>
            <th (click)="ordernar('tipo')">Tipo @if (ordenacao.coluna === 'tipo') {{{ ordenacao.ordem === 'asc' ? '↑' : '↓' }}}</th>
            <th (click)="ordernar('emissor')">Emissor @if (ordenacao.coluna === 'emissor') {{{ ordenacao.ordem === 'asc' ? '↑' : '↓' }}}</th>
            <th (click)="ordernar('valor')">Valor @if (ordenacao.coluna === 'valor') {{{ ordenacao.ordem === 'asc' ? '↑' : '↓' }}}</th>
            <th>Link</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody> 
        @for(item of emissoes; track $index){
            <tr>
                <td>{{item.data | date: 'dd/MM/yyyy'}}</td>
                <td class="centraliza">{{item.tipo}}</td>
                <td>{{item.emissor}}</td>
                <td class="valor">{{item.valor | currency: 'BRL'}}</td>
                <td><a [href]="item.link" target="_blank">{{item.link}}</a></td>
                <td class="centraliza"><button (click)="mostrarModal(item)" class="edit-button"><fa-icon [icon]="faPenToSquare"></fa-icon>Editar</button></td>
            </tr>
        }
    </tbody>
</table>