@if(ordenacao.coluna !== 'id' && ordenacao.ordem != 'asc'){
    <button (click)="resetarOrdenacao()">Resetar ordenação</button>
}
<table>
    <thead>
        <tr>
            <th (click)="ordernar('data')">Data</th>
            <th (click)="ordernar('tipo')">Tipo</th>
            <th (click)="ordernar('emissor')">Emissor</th>
            <th (click)="ordernar('valor')">Valor</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        @for(item of emissoes; track $index){
            <tr>
                <td>{{item.data}}</td>
                <td>{{item.tipo}}</td>
                <td>{{item.emissor}}</td>
                <td>{{item.valor}}</td>
                <td><a [href]="item.link" target="_blank">{{item.link}}</a></td>
            </tr>
        }
    </tbody>
</table>


