@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Schibsted Grotesk",  "League Spartan";
}